@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box; 
}