.app-content {
  background: var(--surface-ground);
  min-height: 100vh;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.app-content.sidebar-fechada {
  margin-left: 0px;
}

.app-content.fullscreen {
  margin-left: 0;
}

.top-loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: var(--loading-bar-gradient);
  background-size: 200% 100%;
  animation: loadingAnimation 1.5s linear infinite;
  z-index: 9999;
}

@keyframes loadingAnimation {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}