<div class="card">

      <h2>{{ isEdicao ? 'Formulario Editar Produto' : 'Formulario Novo Protudo' }}</h2>

      <form [formGroup]="formProduto" (ngSubmit)="salvar()">
        <div class="p-fluid">

          <div class="p-field">
            <span class="p-input-icon-left">
              <i class="pi pi-cod"></i> <input pInputNumber formControlName="codigo" placeholder="Codigo" />
            </span>

            <div *ngIf="formProduto.get('codigo')?.invalid && (formProduto.get('codigo')?.dirty || formProduto.get('codigo')?.touched)" class="error-message">
              <small *ngIf="formProduto.get('codigo')?.errors?.['required']"> Codigo é obrigatório. </small>
            </div>
          </div>

          <div class="p-field">
            <span class="p-input-icon-left">
              <i class="pi pi-user"></i> <input pInputText formControlName="nome" placeholder="Nome" />
            </span>

            <div *ngIf="formProduto.get('nome')?.invalid && (formProduto.get('nome')?.dirty || formProduto.get('nome')?.touched)" class="error-message">
              <small *ngIf="formProduto.get('nome')?.errors?.['required']"> Nome é obrigatório. </small>
            </div>
          </div>

          <div class="p-field">
            <span class="p-input-icon-left">
              <i class="pi pi-categoria"></i> <input pInputText formControlName="categoria" placeholder="categoria" />
            </span>

            <div *ngIf="formProduto.get('categoria')?.invalid && (formProduto.get('categoria')?.dirty || formProduto.get('categoria')?.touched)" class="error-message">
              <small *ngIf="formProduto.get('categoria')?.errors?.['required']"> Categoria é obrigatório. </small>
            </div>
          </div>

          <div class="p-field">
            <span class="p-input-icon-left">
              <i class="pi pi-categoria"></i> <input pInputText formControlName="categoria" placeholder="categoria" />
            </span>

            <div *ngIf="formProduto.get('categoria')?.invalid && (formProduto.get('categoria')?.dirty || formProduto.get('categoria')?.touched)" class="error-message">
              <small *ngIf="formProduto.get('categoria')?.errors?.['required']"> Categoria é obrigatório. </small>
            </div>
          </div>
          

          <div class="botoes-acao">
            <button
              pButton
              type="submit"
              label="Salvar" class="p-button-success"
              icon="pi pi-check" [disabled]="formProduto.invalid"
            ></button>

            <button
              pButton
              type="button"
              label="Cancelar"
              class="p-button-secondary"
              icon="pi pi-times" (click)="cancelar()"
            ></button>
          </div>
        </div>
      </form>
</div>