.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #ffffff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease, background-color 0.3s ease, padding 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.toggle-btn {
  position: absolute;
  top: 1rem;
  left: 235px;
  background: rgba(42, 179, 163, 0.4); /* mesma cor, mas 70% opaca */
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease, left 0.3s ease;
}

.toggle-btn:hover {
  transform: scale(1.1);
  background: rgba(42, 179, 163, 0.9); /* um pouco mais visível no hover */
}
  
.sidebar-header {
  text-align: center;
  margin-bottom: 1rem;
}

.sidebar-title {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #2ab3a3;
}

.sidebar-content {
  padding: 2rem 1rem;
  flex: 1;
  overflow-y: auto;
  transition: opacity 0.3s ease;
}

.sidebar-footer {
  border-top: 1px solid #e6e6e6;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #444;
  font-weight: 500;
}

.user-info i {
  color: #2ab3a3;
}

.sidebar.fechada .user-info{
  opacity: 0;
}

.sidebar.fechada .sidebar-title{
  opacity: 0;
}

.sidebar.fechada .sidebar-footer .p-button-danger{
  opacity: 0;
}

.sidebar.fechada {
  width: 0px;
  padding-left: 0;
  padding-right: 0;
}

.sidebar.fechada .toggle-btn {
  left: 0px;
}

.sidebar.fechada .sidebar-content {
  opacity: 0;
  pointer-events: none;
}

.theme-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
  color: var(--text-color-secondary);
  transition: opacity 0.3s ease;
}

.sidebar.fechada .theme-switch {
  opacity: 0;
  pointer-events: none;
}